.register-main-wrap {
  width: 100%;
  height: 100%;
  background: url(./../images/login-background.png) no-repeat left 66px;
  background-size: cover;
}
input:focus
{
border-color:#1d82d2;
}
body {
  background: url(./../images/login-background.png) no-repeat left 66px;
}

.fr {
  float: right;
}

.f16 {
  font-size: 16px;
}

.rf16 {
  font-size: 0.16rem;
}

.login-header {
  height: 66px;
  width: 1366px;
  margin: 0 auto;
  color: #707070;
  /*padding:0 50px 0 0;*/
  background: rebeccapurple;
  /*border: 1px solid red;*/
  background: url(./../images/home_page_logo.png) no-repeat 10px center;
}

.login-tourist, .login-home {
  padding-left: 25px;
  line-height: 66px;
  margin-right: 25px;
}

.login-tourist:hover, .login-home:hover {
  color: #1d82d2;
  cursor: pointer;
}

.login-tourist:hover {
  background: url(./../images/login-home-hover.png) no-repeat left center;
}

.login-tourist {
  background: url(./../images/login-home.png) no-repeat left center;
}

.login-home {
  background: url(./../images/login-tourist.png) no-repeat left center;
}

.login-home:hover {
  background: url(./../images/login-tourist-hover.png) no-repeat left center;
}

.forgetPw {
  width: 366px;
  height: 377px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 0px solid;
  border-radius: 4px;
  margin: auto;
  background: #ffffff;
}

.forgetPw-title {
  text-align: center;
  font-size: 18px;
  color: #333333;
  display: block;
  font-weight: bold;
  margin-top: 40px;
}

.forgetPw-reset-title {
  font-size: 18px;
  margin: 40px 0px 20px 20px;
  color: #333333;
}

.forgetPw-magtp {
  margin-top: 20px
}

.forgetPw-maglef {
  margin-left: 20px
}

.forgetPw-getmsg {
  color: #999999;
  margin-left: 72px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}

.forgetPw-name {
  font-size: 14px;
  color: #333333;
  width: 39px;
  display: inline-block;
}

.forgetPw-input {
  width: 254px;
  height: 40px;
  font-size: 14px;
  padding-left: 10px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ddd;
  outline: none
}

.forgetPw-req-bt {
  width: 255px;
  height: 40px;
  background: #dddddd;
  border: 0px;
  font-size: 16px;
  border-radius: 4px;
  color: #ffffff;
}

.forgetPw-think {
  font-size: 14px;
  color: #999999;
  display: inline-block;
}
.forgetPw-think-pos{
  float: right;
  padding-bottom: 20px;
}

.forgetPw-think:hover{
  color: #1d82d2;
border-bottom: 1px solid;
cursor: pointer;
}

.forgetPw-think-wrap {
  width: 256px;
  margin-left: 62px;
  margin-top: 16px;
}

.icon-forgetPw-think {
  background-image: url(../images/2.png);
  background-position: -220px 0px;
  width: 20px;
  height: 20px;
  vertical-align: -25%;
  display: inline-block;
}
.msg .errorTip {
    width: 20px;
    height:20px;
    background-position: -40px 0px;
    top:175px;
    margin:0;
}
.msg {
    float:left;
    line-height: 20px;
    position:absolute;
    width:260px;
    /*right:-225px;*/
    z-index:99;
    color:#f03838;
    font-size: 12px;
    display:inline-block;
    visibility: visible;
}
.msg i {
    float:left;
    line-height: 20px;
   background:url(../images/ico.png) no-repeat;
    width:20px;
    height:20px;
}

.msg .okTip {

    width: 20px;
    height:20px;
    background-position: -40px -20px;
    top:175px;
}
.msg-style{
  /* display: inline-block; */
  border-radius: 4px;
  /* height: 10px; */
  padding: 4px;
  margin-left: 5px;
  background: #fff;
  box-shadow: 0px 0px 3px #333;

}

.strength {
  /*border: 1px solid #dddddd;*/
  left: 114px;
  top: 44px;
  position:absolute;
  width:264px;
  line-height: 16px;
  /*font-size: 12px;*/
  /*display:none;*/
  visibility: hidden;
}
.strength span {
  float:left;
  display:block;
  width:23px;
  height:8px;
  border: 1px solid #dddddd;
  border-right: transparent;
}
.strength #enough-one {border-top-left-radius: 4px;border-bottom-left-radius: 4px;}
.strength #strong-three {border-right: 1px solid #dddddd;border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
.hide{
  display: none;
}
.forgetPw-resetPw-title {
    font-size: 18px;
    margin: 40px 0px 0px 20px;
    color: #333333;
}
.reset1-email-information{
  background: #fffddb;
  border-radius: 4px;
  margin: 0px 20px;
  height: 56px;


}
.reset1-email-font{
  display: block;
  padding: 5px 5px 0px 5px;
}
.reset1-num-font{
  color: #666666;
}
.reset1-email-position{
  padding: 10px 0px 10px 25px;
}
.reset1-email-position-font{
  font-size: 14px;
  color: #333333;
}
.reset1-code-position{
  padding: 0px 0px 10px 25px;
}
.reset1-code-input{
  padding-left: 10px;
  height: 40px;
  width: 150px;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  outline: none;
  margin-left: 5px;
}

.reset1-code-sendEmail{
  background: #f7f7f7;
  border: 1px solid #dddddd;
  height: 40px;
  color: #666666;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  width: 111px;
  margin-left: 5px;
}
.reset1-code-sendEmail-bt{
  height: 40px;
width: 320px;
margin-left: 25px;
color: #ffffff;
font-size: 16px;
background: #dddddd;
border: 0px solid;
border-radius: 4px;
}
.reset1-height{
  height: 418px!important;
}
.reset1-login-position{
  position: relative;
}
.reset1-login{
  position: absolute;
  right: 22px;
  top: 7px;
  color: #999999;
}
.reset0-login{
  cursor: pointer;
}
.reset2-login{
  position: absolute;
right: 39px;
top: 45px;
color: #999999;
}
.reset1-back{
  position: absolute;
  color: #999999;
  cursor: pointer;
  left: 22px;
  top: 7px;
}
.reset1-login:hover{
  color: #1d82d2;
  border-bottom: 1px solid #1d82d2;
}
.reset2-login:hover{
  color: #1d82d2;
  border-bottom: 1px solid #1d82d2;
}
.reset1-back:hover{
  color: #1d82d2;
  border-bottom: 1px solid #1d82d2;
}
.reset2-font{
  display: inline-block;
  width: 84px;
  font-size: 14px;
  color: #333333;
  white-space: nowrap;
}
.reset2-input{
  width: 219px;
height: 40px;
padding-left: 10px;
border-radius: 4px;
outline: none;
border: 1px solid #c2c2c2;
}
.mr-l2{
  margin-left: 20px;
}
.mr-l4{
  margin-left: 40px;
}
.mr-t2{
  margin-top: 20px;
}
.progress-position{
  position: relative;
}
.reset2-bt-font{
  width: 287px;
background-color: #dddddd;
height: 40px;
border-radius: 4px;
border: 0px;
color: #ffffff;
}
.errorTip-border{
  border-color: #f03838;
}
.reset3-finish{
  width: 325px;
    height: 110px;
    background: #f5fff2;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin: 0px 20px 0px 20px;
    position: relative;
}
.reset3-finish-content{
  width: 195px;
  height: 60px;
  position: absolute;
  margin: auto;
  top: 0;
  /*background: #ff0000;*/
  bottom: 0;
  left: 0;
  right: 0;
}
.reset3-finish-content-wrap{
  position: relative;
}
.reset3-finish-content-font{
  position: absolute;
top: 10px;
right: 0;
}
.reset3-finish-content-font1{
  font-size: 16px;
  color: #333333;
}
.reset3-finish-content-font2{
  font-size: 14px;
  color: #999999;
}
.reset3-finish-content-bt{
  width: 295px;
height: 40px;
margin: 10px auto;
font-size: 16px;
color: #ffffff;
background: #1d82d2;
border: 0;
border-radius: 4px;
}
.reset3-finish-jump{
  margin: -4px auto;
    width: 295px;
}
#finish_second{
  font-size: 13px;
    color: #1d82d2;
}
#finish_jump{
  font-size: 12px;
color: #999999;
padding-left: 5px;
}
