<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首頁</title>
  </head>
  <link rel="stylesheet" href="../static/css/index.css">
  <body>
    <div style="width: 100%;height:70px;">
      <img class="head_logo" src="../static/images/logo.png" alt="加載中...">
      <div class="head-font-box">
        <a href="#" class="head-font">首頁</a>
      </div>
      <div class="head-font-box">
        <a href="#" class="head-font">關於我們</a>
      </div>
      <div class="head-font-box">
        <a href="#" class="head-font">熱點聚焦</a>
      </div>
      <div class="head-font-box">
        <a href="#" class="head-font">產品中心</a>
      </div>
      <div class="head-font-box">
        <a href="#" class="head-font">一線傳聲</a>
      </div>
      <div class="head-font-box">
        <a href="#" class="head-font">聯繫我們</a>
      </div>
    </div>
    <!-- <div class="big-image"> -->
    <div class="big-image">
      <img src="../static/images/index_big.png" class="big-phone" alt="加載中...">
      <div class="jumpsys">
        <b class="system-font">智能工廠系統</b><br>
        <span class="wellcome">歡迎您！</span><br><br>
        <button class="inner-sys" type="button" name="button">立即進入</button>
      </div>
    </div>
      <!-- <div class="jumpsys">
        <span>智能工厂系统</span>
      </div>
    </div> -->
    <!-- 介紹 -->
    <div class="content">
      <div class="content-text">
        <!-- 左邊 -->
        <div class="content-text-left">
          <div class="circle">
            人才觀
          </div>
          <p class="content-text-font">秉承"尊重人的價值,開發人的潛能,昇華人的心靈"人才工作宗旨,把ACKH
            打造成一個海納百川的組織,在這個組織裏,普通人變成優秀的人,優秀的人
            變成卓越的人,源源不斷的人在這裏實現自己的人生夢想.<br>
            培養和造就一支贏得市場領先,創造組織優勢,引領價值導向,有使命感與責任
            剛責任感的人才隊伍,支持戰略目標的實現,是ACKH持續不斷的人才追求.
          </p>
          <img src="../static/images/index_pepole.png" style="width:100%" alt="加載中...">
        </div>
        <!-- 右邊 -->
        <div class="content-text-right">
          <div class="circle">
            人才理念
          </div>
          <p class="content-text-font">秉承"尊重人的價值,開發人的潛能,昇華人的心靈"人才工作宗旨,把ACKH
            打造成一個海納百川的組織,在這個組織裏,普通人變成優秀的人,優秀的人
            變成卓越的人,源源不斷的人在這裏實現自己的人生夢想.<br>
            培養和造就一支贏得市場領先,創造組織優勢,引領價值導向,有使命感與責任
            剛責任感的人才隊伍,支持戰略目標的實現,是ACKH持續不斷的人才追求.
          </p>
          <br>
          <br>
          <h1 style="font-size: 22px;color:#000000">ACKH簡介</h1>
          <p class="content-text-font">秉承"尊重人的價值,開發人的潛能,昇華人的心靈"人才工作宗旨,把ACKH
            打造成一個海納百川的組織,在這個組織裏,普通人變成優秀的人,優秀的人
            變成卓越的人,源源不斷的人在這裏實現自己的人生夢想.<br>
            培養和造就一支贏得市場領先,創造組織優勢,引領價值導向,有使命感與責任
            剛責任感的人才隊伍,支持戰略目標的實現,是ACKH持續不斷的人才追求.</p>
        </div>
        <!-- 底部內容 -->
        <div class="content-buttom">
          <h1 style="text-align: center;font-size: 22px;color:#000000">熱點聚焦</h1>
          <div class="content-hot">
            <img style="width:325px" src="../static/images/index_hot.png" alt="加載中...">
            <!-- <h6 style="text-align: left;">台媒稱大陸疑最新東風26B導彈曝光</h6> -->

              <span>台媒稱大陸疑最新東風26B導彈曝光</span><br>
              <span class="hot-font-content">據臺灣'中央社'5月8日報道,根據大陸媒體刊登的據大陸影片截圖,這是在大陸北...</span>

          </div>
          <div class="content-hot tenleft">
            <img style="width:325px" src="../static/images/index_hot.png" alt="加載中...">
            <!-- <h6 style="text-align: left;">台媒稱大陸疑最新東風26B導彈曝光</h6> -->

            <span>台媒稱大陸疑最新東風26B導彈曝光</span><br>
            <span class="hot-font-content">據臺灣'中央社'5月8日報道,根據大陸媒體刊登的據大陸影片截圖,這是在大陸北...</span>


          </div>
          <div class="content-hot tenleft">
            <img style="width:325px" src="../static/images/index_hot.png" alt="加載中...">
            <!-- <h6 style="text-align: left;">台媒稱大陸疑最新東風26B導彈曝光</h6> -->

            <span>台媒稱大陸疑最新東風26B導彈曝光</span><br>
            <span class="hot-font-content">據臺灣'中央社'5月8日報道,根據大陸媒體刊登的據大陸影片截圖,這是在大陸北...</span>


          </div>
        </div>
      </div>
    </div>
    <img style="width:100%" src="../static/images/index_science.png" alt="加載中...">

    <div class="content-phone">
      <div class="content-text-phone">
        <img style="width:100%" src="../static/images/index_milepost.png" alt="加載中...">
        <!-- 底部內容 -->
        <div class="content-buttom">
          <h1 style="text-align: center;font-size: 22px;color:#000000">產品中心</h1>
          <div class="content-product">
            <img style="width:322px" src="../static/images/index_phone.png" alt="加載中...">
            <!-- <h6 style="text-align: left;">台媒稱大陸疑最新東風26B導彈曝光</h6> -->
              <div style="text-align: center;font-size:16px;"><b>產品信息</b></div>
            <p class="pro-font">
              P系列是華爲終端產品中定位時尚精緻的高端旗艦系列。華爲P10&P10 Plus延續了P系列的經典
              基因,還加入了頂尖技術,其中攝影功能迎來了更高的突破.
            </p>
            <br>
            <button class="content-phone-bt" type="button" name="button">了解詳情</button>
          </div>
          <div class="content-product tenleft">
            <img style="width:322px" src="../static/images/index_phone.png" alt="加載中...">
            <!-- <h6 style="text-align: left;">台媒稱大陸疑最新東風26B導彈曝光</h6> -->

              <div style="text-align: center;font-size:16px;"><b>產品信息</b></div>
            <p class="pro-font">
              P系列是華爲終端產品中定位時尚精緻的高端旗艦系列。華爲P10&P10 Plus延續了P系列的經典
              基因,還加入了頂尖技術,其中攝影功能迎來了更高的突破.
            </p>
            <br>
            <button class="content-phone-bt" type="button" name="button">了解詳情</button>
          </div>
          <div class="content-product tenleft">
            <img style="width:322px" src="../static/images/index_phone.png" alt="加載中...">
            <!-- <h6 style="text-align: left;">台媒稱大陸疑最新東風26B導彈曝光</h6> -->
              <div style="text-align: center;font-size:16px;"><b>產品信息</b></div>
            <p class="pro-font">
              P系列是華爲終端產品中定位時尚精緻的高端旗艦系列。華爲P10&P10 Plus延續了P系列的經典
              基因,還加入了頂尖技術,其中攝影功能迎來了更高的突破.

            </p>
            <br>
            <button class="content-phone-bt" type="button" name="button">了解詳情</button>
          </div>
        </div>
      </div>
    </div>
    <div class="foot">
      <div class="foot-paner">
        <img style="width:1052px" src="../static/images/index_paner.png" alt="加載中...">
      </div>

    </div>


    <script type="text/javascript" src=".././static/libs/easyui/js/jquery.min.js"></script>
    <script type="text/javascript" src=".././static/js/url.js"></script>
    <script type="text/javascript" src=".././static/js/index.js"></script>
  </body>
</html>
